.customer {
  margin-top: 30px;
}
.customer_table {
  width: 100%;
  overflow-x: auto;
}
.customer_table table {
  width: 100%;
  max-width: 1920px;
  border-collapse: collapse;
}
.customer_table table thead th {
  background: #fff;
}
.customer_table table tbody tr {
  background: #fff;
}
.customer_table table tbody tr:nth-of-type(even) {
  background: #D9D9D9;
}
.customer_table table tbody tr td {
  border-right: 1px solid #B3B3B3;
}