// Mian ============================
.main {
    &_inner {
        padding: 40px 15px;
    }

    &_header {
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-tabs {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 20px;
                cursor: pointer;
                margin-right: 15px;
                background: #fff;
                min-width: 80px;

                font-weight: 300;
                font-size: 16px;
                line-height: 1.3;
                color: #000;
                text-transform: uppercase;
                padding: 8px 15px;

                @include transition;

                &:hover {
                    background: $main-color;
                    color: #fff;

                    path {
                        stroke: #fff;
                        fill: #fff;
                    }
                }

                &.active {
                    background: $main-color;
                    color: #fff;

                    path {
                        stroke: #fff;
                        fill: #fff;
                    }
                }

                span {
                    width: 20px;
                    height: 15px;
                    display: block;
                    margin-left: 8px;

                    svg {
                        @include ImgCon;

                        path {
                            @include transition;
                        }
                    }
                }
            }
        }

        &-filter {
            display: flex;
            align-items: center;

            &-item {
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    path {
                        fill: $main-color;
                        stroke: $main-color;
                    }
                }

                svg {
                    @include ImgCon;

                    path {
                        @include transition;
                    }
                }
            }
        }
    }

    .home {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &>.inner {
            width: calc(75% - 20px);
        }

        &_title {
            font-weight: 300;
            font-size: 28px;
            line-height: 1.4;
            margin-bottom: 20px;
        }

        .hero {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px 30px;

            &_item {
                width: calc(33.33% - 80px);
                margin: 15px;
                border-radius: 10px;
                padding: 20px 25px 20px;

                &:nth-child(1) {
                    background: #DBF7F4;
                }

                &:nth-child(2) {
                    background: #FFF7D7;
                }

                &:nth-child(3) {
                    background: #FBE9EF;
                }

                &:nth-child(4) {
                    background: #F4F3FF;
                }

                &:nth-child(5) {
                    background: #DEFFAB;
                }

                &:nth-child(6) {
                    background: #FFCFCF;
                }

                &-title {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.5;
                    margin-bottom: 15px;
                }

                &-number {
                    font-weight: 300;
                    font-size: 70px;
                    line-height: 1;
                    text-align: center;
                }
            }
        }

        .loads {
            display: flex;
            flex-wrap: wrap;

            &_item {
                width: calc(50% - 70px);
                margin: 12px 10px;
                padding: 20px 25px;
                background: #fff;

                display: flex;
                align-items: center;
                justify-content: space-between;

                -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
                border-radius: 10px;

                &-photo {
                    width: 70px;
                    height: 70px;
                    border-radius: 7px;

                    img {
                        @include ImgCov;
                    }
                }

                &-group {
                    margin: 0 10px;
                }

                &-title {
                    font-weight: 300;
                    font-size: 26px;
                    line-height: 1.4;
                    margin-bottom: 5px;
                }

                &-txt {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 1.3;
                }

                .dot {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    display: block;
                    margin-right: 10px;

                    &.green {
                        background: #8CC63F;
                    }

                    &.yellow {
                        background: yellow;
                    }

                    &.red {
                        background: red;
                    }
                }

                &-text {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 1.2;
                    text-transform: uppercase;
                }
            }
        }

        .currency {
            display: block;
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            background: #fff;

            &_sublable {
                font-weight: 300;
                font-size: 12px;
                line-height: 1;

                margin-right: 15px;
            }

            &_row {
                display: flex;
                align-items: center;
            }

            &_title {
                font-weight: 400;
                font-size: 50px;
                line-height: 1.4;
                color: #F7931E;
                margin: 10px 0;
                font-family: 'Michroma', sans-serif;


                span {
                    color: #000;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 1.4;
                    text-transform: uppercase;
                    font-family: 'Arodora Pro', sans-serif;

                }
            }
        }

        .reminder {
            width: calc(25% - 20px);

            &_row {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
            }

            &_item {
                display: block;
                -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
                border-radius: 10px;
                padding: 20px;
                margin-bottom: 20px;
                background: #fff;

                &-photo {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin-right: 15px;
                    display: block;

                    img {
                        @include ImgCov;
                    }
                }

                &-name {
                    font-weight: 300;
                    font-size: 22px;
                    line-height: 1.4;
                    margin-bottom: 5px;
                }

                &-txt {
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 1.2;
                }
            }

            &_txt {
                font-weight: 400;
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}

// Mian end ========================