@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*** 
====================================================================
    Global Settings
====================================================================
***/
body {
  font-family: "Arodora Pro", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.7em;
  font-weight: 400;
  background: #F5F5F5;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body.active {
  overflow: hidden;
}

body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
}

/* Typography */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  position: relative;
  line-height: 1.8em;
}

.auto_container {
  position: relative;
  max-width: 1400px;
  padding: 0px 60px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFDFDF;
}

.header {
  padding: 20px 25px;
  background: #fff;
}
.header .burger {
  display: none;
}
.header_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_title {
  font-weight: 300;
  font-size: 26px;
  line-height: 1.5;
}
.header_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_search {
  position: relative;
}
.header_search-input {
  width: 230px;
  display: block;
}
.header_search-input input {
  width: calc(100% - 70px);
  padding: 12px 55px 12px 15px;
  background: #f2f2f2;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 20px;
}
.header_search-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header_search-btn svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.header_search-btn svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.header_search-btn:hover path {
  stroke: #EF8011;
}
.header .notification {
  position: relative;
  height: 25px;
  width: 25px;
  display: block;
  margin: 0 40px 0 30px;
}
.header .notification svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.header .notification svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.header .notification:hover path {
  stroke: #000;
}
.header .notification.active {
  -webkit-animation: alert 1s linear infinite;
          animation: alert 1s linear infinite;
}
.header .notification.active::after {
  content: "";
  position: absolute;
  top: -2px;
  right: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}
.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .user_photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.header .user_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.header .user_group {
  position: relative;
  padding-right: 30px;
}
.header .user_group::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 20px;
  height: 10px;
  background: url("../images/svg/user_arrow.svg") no-repeat center;
  background-size: contain;
}
.header .user_name {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.header .user_prof {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.4;
  color: #999999;
  text-transform: uppercase;
}

@keyframes alert {
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes alert {
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.aside_inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 10;
  padding: 50px 25px 20px;
  background: #fff;
  border-right: 1px solid #000;
}
.aside .mobile_search {
  display: none;
}
.aside .logo {
  width: 100px;
  height: 60px;
  display: block;
  margin: 0 auto 50px;
}
.aside .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.aside .nav_link {
  display: block;
  margin-bottom: 40px;
  position: relative;
  padding-left: 45px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.aside .nav_link:hover {
  color: #EF8011;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.aside .nav_link.active::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/active.png") no-repeat center;
  background-size: contain;
}
.aside .nav_link:last-child {
  margin-bottom: 0;
}

.main {
  width: calc(100% - 300px);
  margin-left: 300px;
}
.main_inner {
  padding: 40px 15px;
}
.main_header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main_header-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main_header-tabs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 15px;
  background: #fff;
  min-width: 80px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: #000;
  text-transform: uppercase;
  padding: 8px 15px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.main_header-tabs a:hover {
  background: #EF8011;
  color: #fff;
}
.main_header-tabs a:hover path {
  stroke: #fff;
  fill: #fff;
}
.main_header-tabs a.active {
  background: #EF8011;
  color: #fff;
}
.main_header-tabs a.active path {
  stroke: #fff;
  fill: #fff;
}
.main_header-tabs a span {
  width: 20px;
  height: 15px;
  display: block;
  margin-left: 8px;
}
.main_header-tabs a span svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.main_header-tabs a span svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.main_header-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_header-filter-item {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.main_header-filter-item:last-child {
  margin-right: 0;
}
.main_header-filter-item:hover path {
  fill: #EF8011;
  stroke: #EF8011;
}
.main_header-filter-item svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.main_header-filter-item svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .home > .inner {
  width: calc(75% - 20px);
}
.main .home_title {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.main .home .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 30px;
}
.main .home .hero_item {
  width: calc(33.33% - 80px);
  margin: 15px;
  border-radius: 10px;
  padding: 20px 25px 20px;
}
.main .home .hero_item:nth-child(1) {
  background: #DBF7F4;
}
.main .home .hero_item:nth-child(2) {
  background: #FFF7D7;
}
.main .home .hero_item:nth-child(3) {
  background: #FBE9EF;
}
.main .home .hero_item:nth-child(4) {
  background: #F4F3FF;
}
.main .home .hero_item:nth-child(5) {
  background: #DEFFAB;
}
.main .home .hero_item:nth-child(6) {
  background: #FFCFCF;
}
.main .home .hero_item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.main .home .hero_item-number {
  font-weight: 300;
  font-size: 70px;
  line-height: 1;
  text-align: center;
}
.main .home .loads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .home .loads_item {
  width: calc(50% - 70px);
  margin: 12px 10px;
  padding: 20px 25px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.main .home .loads_item-photo {
  width: 70px;
  height: 70px;
  border-radius: 7px;
}
.main .home .loads_item-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.main .home .loads_item-group {
  margin: 0 10px;
}
.main .home .loads_item-title {
  font-weight: 300;
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.main .home .loads_item-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
}
.main .home .loads_item .dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}
.main .home .loads_item .dot.green {
  background: #8CC63F;
}
.main .home .loads_item .dot.yellow {
  background: yellow;
}
.main .home .loads_item .dot.red {
  background: red;
}
.main .home .loads_item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
.main .home .currency {
  display: block;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}
.main .home .currency_sublable {
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  margin-right: 15px;
}
.main .home .currency_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .home .currency_title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.4;
  color: #F7931E;
  margin: 10px 0;
  font-family: "Michroma", sans-serif;
}
.main .home .currency_title span {
  color: #000;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  font-family: "Arodora Pro", sans-serif;
}
.main .home .reminder {
  width: calc(25% - 20px);
}
.main .home .reminder_row {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .home .reminder_item {
  display: block;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}
.main .home .reminder_item-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
}
.main .home .reminder_item-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.main .home .reminder_item-name {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.main .home .reminder_item-txt {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.2;
}
.main .home .reminder_txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.customer {
  margin-top: 30px;
}
.customer_table {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
}
.customer_table table {
  width: 100%;
  min-width: 1100px;
  border-collapse: collapse;
}
.customer_table table thead tr:first-child {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.customer_table table thead tr:first-child th {
  padding: 30px 15px 0;
  margin-bottom: 20px;
}
.customer_table table thead tr:last-child th {
  padding: 0 15px 30px;
}
.customer_table table thead th {
  background: #fff;
  text-align: left;
  border-right: 1px solid #B3B3B3;
  border-bottom: none;
  text-transform: uppercase;
}
.customer_table table thead th:last-child {
  border-right: none;
}
.customer_table table thead th span {
  display: block;
  position: relative;
  padding-left: 35px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.3;
}
.customer_table table thead th span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  width: 25px;
  height: 25px;
  background: #F2F2F2;
}
.customer_table table thead th .th_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.customer_table table thead th .th_search {
  display: block;
  position: relative;
  width: calc(100% - 50px);
}
.customer_table table thead th .th_search input {
  width: calc(100% - 50px);
  padding: 10px 35px 10px 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  background: #F2F2F2;
  border-radius: 10px;
}
.customer_table table thead th .th_search input:focus {
  background: #e6e6e6;
}
.customer_table table thead th .th_search-btn {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 10px;
}
.customer_table table thead th .th_search-btn:hover path {
  stroke: #EF8011;
}
.customer_table table thead th .th_search-btn svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.customer_table table thead th .th_search-btn svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.customer_table table thead th .th_show {
  display: block;
  width: 30px;
  height: 20px;
}
.customer_table table thead th .th_show:hover path {
  stroke: #EF8011;
  fill: #EF8011;
}
.customer_table table thead th .th_show svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.customer_table table thead th .th_show svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.customer_table table tbody tr {
  background: #fff;
}
.customer_table table tbody tr:nth-of-type(even) {
  background: #D9D9D9;
}
.customer_table table tbody tr:nth-of-type(even) td span::before {
  background: #fff;
}
.customer_table table tbody tr td {
  border-right: 1px solid #B3B3B3;
  padding: 12px 15px;
}
.customer_table table tbody tr td:last-child {
  border-right: none;
}
.customer_table table tbody tr td span {
  display: block;
  position: relative;
  padding-left: 40px;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
}
.customer_table table tbody tr td span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  width: 25px;
  height: 25px;
  background: #F2F2F2;
}
.customer_table table tbody tr .td_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.customer_table table tbody tr .td_row a {
  width: 25px;
  height: 20px;
  display: block;
  margin-right: 10px;
}
.customer_table table tbody tr .td_row a:last-child {
  margin-right: 0;
}
.customer_table table tbody tr .td_row a:first-child:hover path {
  fill: none !important;
}
.customer_table table tbody tr .td_row a:hover path {
  fill: #EF8011;
  stroke: #EF8011;
}
.customer_table table tbody tr .td_row a.red:hover path {
  fill: none !important;
}
.customer_table table tbody tr .td_row a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.customer_table table tbody tr .td_row a svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}

.profile .customer_table {
  margin-bottom: 30px;
}
.profile_box {
  background: #fff;
  padding: 35px;
  margin-bottom: 30px;
}
.profile_box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.profile_box-info.big .profile_box-item {
  width: calc(33.33% - 1px);
}
.profile_box-item {
  width: calc(20% - 1px);
  border-top: 1px solid #B3B3B3;
  border-bottom: none !important;
  text-align: center;
  padding: 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile_box-item.full {
  width: calc(100% - 1px) !important;
}
.profile_box-item.quarter {
  width: calc(66.67% - 1px) !important;
}
.profile_box-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 0.5px;
  height: calc(100% - 20px);
  background: #B3B3B3;
}
.profile_box-item-title {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
  color: #EF8011;
  margin-bottom: 10px;
}
.profile_box-item-txt {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
}
.profile_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile_user-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.profile_user-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.profile_user-prof {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: #999999;
}
.profile_user-name {
  margin: 10px 0 5px;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
}
.profile_user-subname {
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  position: relative;
  padding-left: 25px;
}
.profile_user-subname::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: #8CC63F;
  border-radius: 50%;
}
.profile_user-subname.b-none {
  padding-left: 0;
}
.profile_user-subname.b-none::before {
  content: none;
}
.profile_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile_filter-edit {
  width: 30px;
  height: 25px;
  margin-right: 15px;
}
.profile_filter-edit:last-child {
  margin-right: 0;
}
.profile_filter-edit.delete:hover path {
  fill: none;
  stroke: #EF8011;
}
.profile_filter-edit:hover path {
  fill: #EF8011;
}
.profile_filter-edit svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.profile_filter-edit svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile .timeline {
  padding: 15px 25px;
  background: #fff;
  width: 350px;
}
.profile .timeline_title {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  line-height: 1.4;
  color: #EF8011;
}
.profile .timeline_txt {
  margin: 10px 0 45px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
.profile .timeline_item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 45px;
}
.profile .timeline_item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #EF8011;
}
.profile .timeline_item::after {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 1px;
  left: 6px;
  height: 50px;
  background: #1D1D1B;
}
.profile .timeline_item:nth-child(3)::before {
  background: #1D1D1B;
}
.profile .timeline_item:last-child {
  margin-bottom: 0;
}
.profile .timeline_item:last-child::before {
  background: #1D1D1B;
}
.profile .timeline_item:last-child::after {
  display: none;
}
.profile .timeline_item-date {
  font-weight: 300;
  font-size: 11px;
  line-height: 1;
}
.profile .timeline_item-title {
  margin: 4px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
}
.profile .timeline_item-subtitle {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.1;
  color: #1D1D1B;
}
.profile_desc {
  width: calc(100% - 415px);
}
.profile .agement {
  background: #fff;
  margin-top: 20px;
  padding: 30px 30px 20px;
  max-width: 700px;
}
.profile .agement_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #B3B3B3;
  padding-bottom: 30px;
  margin-bottom: 25px;
}
.profile .agement_title {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
}
.profile .agement_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .agement_edit a {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: block;
  cursor: pointer;
}
.profile .agement_edit a:hover path {
  fill: #EF8011;
}
.profile .agement_edit a.delete:hover path {
  fill: none;
  stroke: #EF8011;
}
.profile .agement_edit a:last-child {
  margin-right: 0;
}
.profile .agement_edit a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.profile .agement_edit a svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.profile .agement_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile .agement_item {
  width: 50%;
  text-align: center;
  border-right: 1px solid #B3B3B3;
}
.profile .agement_item:last-child {
  border-right: none;
}
.profile .agement_item-title {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
  color: #EF8011;
  margin-bottom: 10px;
}
.profile .agement_item-txt {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.4;
}
.profile .chat {
  background: #fff;
  padding: 35px;
}
.profile .chat_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #B3B3B3;
}
.profile .chat_title {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.2;
}
.profile .chat_txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  position: relative;
  display: block;
  border-radius: 20px;
  border: 1px solid #B3B3B3;
  padding: 10px 20px;
}
.profile .chat_item {
  width: 45%;
}
.profile .chat_item.left {
  margin: 0 auto 20px 0;
}
.profile .chat_item.right {
  margin: 0 0 20px auto;
}
.profile .chat_item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profile .chat_item-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .chat_item-photo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}
.profile .chat_item-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.profile .chat_item-name {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 5px;
}
.profile .chat_item-date {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.1;
}
.profile .chat_item-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .chat_item-edit a {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.profile .chat_item-edit a:last-child {
  margin-right: 0;
}
.profile .chat_item-edit a:hover path {
  fill: #EF8011;
}
.profile .chat_item-edit a.delete:hover path {
  stroke: #EF8011;
  fill: none;
}
.profile .chat_item-edit a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.profile .chat_item-edit a svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.profile .chat_item-txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 12px;
}

.post_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post_info .profile_desc {
  width: calc(100% - 565px);
}
.post_box {
  padding: 20px 25px;
  background: #fff;
  width: 500px;
}
.post_box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.post_box-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
}
.post_box-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post_box-edit a {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.post_box-edit a:last-child {
  margin-right: 0;
}
.post_box-edit a:hover path {
  fill: #EF8011;
}
.post_box-edit a.delete:hover path {
  fill: none;
  stroke: #EF8011;
}
.post_box-edit a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.post_box-edit a svg path {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.post_box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.post_box-item {
  width: calc(50% - 1px);
  border-top: 1px solid #B3B3B3;
  padding: 15px 0 20px;
  position: relative;
  text-align: center;
}
.post_box-item.full {
  width: calc(100% - 1px);
}
.post_box-item.full::before {
  content: none;
}
.post_box-item:nth-of-type(even)::before {
  content: none;
}
.post_box-item:nth-child(8)::before, .post_box-item:nth-child(10)::before {
  content: "";
}
.post_box-item:nth-child(9)::before, .post_box-item:nth-child(11)::before {
  content: none;
}
.post_box-item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -moz-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: calc(100% - 20px);
  background: #B3B3B3;
}
.post_box-item-suptitle {
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  color: #EF8011;
  margin-bottom: 10px;
}
.post_box-item-title {
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
}

.card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px;
}
.card_item {
  width: calc(33.33% - 80px);
  margin: 20px;
  padding: 40px 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #fff;
}
.card_item-photo {
  width: 150px;
  height: 150px;
  position: relative;
  display: block;
}
.card_item-photo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border: 4px solid #EF8011;
  border-radius: 50%;
}
.card_item-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
}
.card_item-name {
  margin: 45px 0 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
}
.card_item-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.card_item-link {
  display: inline-block;
  padding: 10px 25px;
  background: #EF8011;
  border-radius: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.card_item-link:hover {
  background: #000;
  color: #EF8011;
}

.login_box {
  margin: 100px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.login_form {
  background: #fff;
  padding: 25px 50px;
  max-width: 700px;
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login_form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.login_title {
  font-weight: 300;
  font-size: 34px;
  line-height: 1.3;
  width: 100%;
  margin: 0 7px 15px;
  text-transform: uppercase;
}
.login_input {
  width: calc(50% - 14px);
  margin: 7px;
}
.login_input.full {
  width: calc(100% - 14px);
}
.login_input input {
  width: calc(100% - 26px);
  padding: 10px 12px;
  border: 2px solid #FBB03B;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  font-family: "Arodora Pro", sans-serif;
}
.login_input textarea {
  width: calc(100% - 26px);
  padding: 10px 12px;
  border: 2px solid #FBB03B;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  resize: none;
  height: 75px;
  font-family: "Arodora Pro", sans-serif;
}
.login_btn {
  display: block;
  padding: 10px 30px;
  background: #000;
  color: #FBB03B;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.login_btn:hover {
  background: #FBB03B;
  color: #000;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "";
}
.hero_slider .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_left.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.hero_slider .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_right.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.hero_slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero_slider .slick-dots li {
  display: block;
}
.hero_slider .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  opacity: 0.3;
  border-radius: 50%;
}
.hero_slider .slick-dots li.slick-active {
  width: 30px;
  height: 30px;
}
.hero_slider .slick-dots li.slick-active button {
  background: url("../images/svg/dot.svg") no-repeat center !important;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
}

.project_box .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project_box .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_left.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.project_box .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_right.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.project_box .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -50px;
}
.project_box .slick-dots li {
  display: block;
}
.project_box .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  border: 2.5px solid #fff;
  opacity: 0.8;
  border-radius: 50%;
}
.project_box .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
}
.project_box .slick-dots li.slick-active button {
  background: #CBC72C;
  background-size: contain;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.banner_box .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: -200px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_left.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.banner_box .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: -200px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_right.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}

.news .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 200px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_left-gold.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.news .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 200px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_right-gold.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.news .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -50px;
}
.news .slick-dots li {
  display: block;
}
.news .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  opacity: 0.3;
  border-radius: 50%;
}
.news .slick-dots li.slick-active {
  width: 30px;
  height: 30px;
}
.news .slick-dots li.slick-active button {
  background: url("../images/svg/dot.svg") no-repeat center !important;
  background-size: contain;
  width: 30px;
  height: 30px;
  border: none;
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 32px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  cursor: pointer;
  margin: 0 8px;
}
.slick-dots li button {
  border: 0;
  display: block;
  height: 14px;
  width: 14px;
  outline: none;
  color: transparent;
  border-radius: 50%;
  background: rgba(200, 200, 200, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.slick-dots li button:focus {
  outline: none;
  background: blue;
}
.slick-dots li.slick-active button {
  background: blue;
  width: 28px;
  border-radius: 10px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.custom-select select {
  display: none;
}

.custom-select {
  position: relative;
}

.select-selected {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  padding: 12px 40px 12px 20px;
  cursor: pointer;
  background-color: #EDEDED;
  border-radius: 4px;
}
.select-selected.select-arrow-active {
  border-bottom: none;
  border: 4px 4px 0 0;
}
.select-selected.select-arrow-active:after {
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}
.select-selected::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: 20px;
  width: 8px;
  height: 8px;
  z-index: 4;
  border-bottom: 1.5px solid #868686;
  border-right: 1.5px solid #868686;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}

.select-items {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  z-index: 99;
  cursor: pointer;
  -webkit-animation-name: select;
          animation-name: select;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  background: #fff;
}
.select-items div {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: black;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  background-color: #EDEDED;
  border-radius: 4px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}
.select-items div:last-child {
  margin-bottom: 0;
}
.select-items div:hover {
  border: 1px solid #EDEDED;
}
.select-items::-webkit-scrollbar {
  width: 10px;
}
.select-items::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 10px;
}
.select-items::-webkit-scrollbar-thumb {
  background: #aeaeae;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(250, 250, 250, 0.5);
}

@media (max-width: 1500px) {
  .main .home_title {
    font-size: 22px;
  }
  .main .home > .inner {
    width: calc(75% - 10px);
  }
  .main .home .loads_item-photo {
    width: 50px;
    height: 50px;
  }
  .main .home .loads_item-title {
    font-size: 20px;
  }
  .main .home .loads_item-txt {
    font-size: 12px;
  }
  .main .home .loads_item .dot {
    width: 18px;
    height: 18px;
  }
  .main .home .loads_item-text {
    font-size: 15px;
  }
  .main .home .reminder {
    width: calc(25% - 10px);
  }
  .main .post_box {
    width: 400px;
  }
  .main .post_info .profile_desc {
    width: calc(100% - 465px);
  }
  .main .profile_box-item {
    width: calc(33.33% - 1px);
  }
}
@media (max-width: 1350px) {
  .aside_inner {
    width: 180px;
  }
  .aside .nav_link {
    padding-left: 30px;
    font-size: 16px;
  }
  .aside .nav_link.active::before {
    width: 15px;
    height: 15px;
  }

  .main {
    width: calc(100% - 230px);
    margin-left: 230px;
  }
  .main .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .home_title {
    width: 100%;
  }
  .main .home > .inner {
    width: 100%;
  }
  .main .home .reminder {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .home .reminder_item {
    width: calc(33.33% - 60px);
    margin: 10px;
  }
}
@media (max-width: 1100px) {
  .aside {
    position: fixed;
    top: 0;
    left: -150%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
  .aside.active {
    left: 0;
  }
  .aside_inner {
    position: absolute;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 140px 140px 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .aside_inner.active {
    border-radius: 0;
    left: 0;
  }
  .aside .logo {
    margin-bottom: 70px;
  }
  .aside .nav_link {
    font-size: 18px;
    padding-left: 45px;
  }
  .aside .nav_link.active::before {
    width: 20px;
    height: 20px;
  }
  .aside .mobile_search {
    display: block;
    position: relative;
  }
  .aside .mobile_search-input {
    width: 100%;
    max-width: 450px;
  }
  .aside .mobile_search-input input {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding: 12px 55px 12px 16px;
    background: #f2f2f2;
    width: calc(100% - 71px);
    border-radius: 5px;
  }
  .aside .mobile_search-btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    -moz-ransform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  .aside .mobile_search-btn:hover path {
    stroke: #EF8011;
  }
  .aside .mobile_search-btn svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
  }
  .aside .mobile_search-btn svg path {
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
  }

  .header .burger {
    display: block;
    margin-right: 35px;
    width: 30px;
    cursor: pointer;
  }
  .header .burger span {
    display: block;
    width: 20px;
    height: 1px;
    background: #000;
    position: relative;
  }
  .header .burger span::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 1px;
    background: #000;
  }
  .header .burger span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 1px;
    background: #000;
  }
  .header_search {
    display: none;
  }

  .main {
    margin-left: 0;
    width: 100%;
  }
  .main_header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main_header-tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .main_header-tabs a {
    margin: 5px 7px;
    min-width: 90px;
  }
  .main .profile_user-photo {
    width: 70px;
    height: 70px;
  }
  .main .profile_user-name {
    line-height: 1.2;
    font-size: 20px;
    margin: 5px 0;
  }
  .main .profile_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .profile_desc {
    width: 100%;
  }
  .main .profile .timeline {
    margin-top: 30px;
    max-width: 700px;
    width: calc(100% - 60px);
    padding: 30px;
  }
  .main .post_box {
    width: calc(100% - 50px);
    max-width: 700px;
    margin-bottom: 40px;
  }
  .main .post_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .post_info .profile_desc {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .main .home .hero_item-title {
    font-size: 16px;
  }
  .main .home .hero_item-number {
    font-size: 48px;
  }
  .main .home .loads_item {
    width: calc(100% - 50px);
  }
  .main .home .loads_item-photo {
    width: 70px;
    height: 70px;
  }
  .main .home .loads_item-title {
    font-size: 24px;
  }
  .main .home .loads_item-txt {
    font-size: 16px;
  }
  .main .home .loads_item .dot {
    width: 20px;
    height: 20px;
  }
  .main .home .loads_item-text {
    font-size: 18px;
  }
  .main .home .reminder_item {
    width: calc(50% - 60px);
  }
  .main .profile_filter-edit {
    width: 25px;
    height: 20px;
  }
  .main .profile_box-item {
    width: calc(50% - 1px);
    min-height: 60px;
  }
  .main .profile_box-item-txt {
    font-size: 15px;
  }
  .main .profile .agement_edit a {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 650px) {
  .header_title {
    font-size: 18px;
  }
  .header .notification {
    margin: 0 20px 0;
  }
  .header .burger {
    margin-right: 20px;
    width: 20px;
  }
  .header .burger span {
    width: 15px;
  }
  .header .burger span::before, .header .burger span::after {
    width: 20px;
  }
  .header .user_photo {
    display: none;
  }
  .header .user_name {
    font-size: 14px;
  }
  .header .user_prof {
    font-size: 10px;
  }

  .main .home .hero_item {
    width: calc(50% - 80px);
  }
  .main .home .loads_item-title {
    font-size: 20px;
  }
  .main .home .loads_item-txt {
    font-size: 14px;
  }
  .main .home .reminder_item {
    width: calc(100% - 40px);
    margin: 10px 0;
  }
  .main .home .currency_title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .aside_inner {
    width: 100%;
    max-width: 250px;
  }
  .aside .nav_link {
    font-size: 16px;
    padding-left: 30px;
  }
  .aside .nav_link.active::before {
    width: 15px;
    height: 15px;
  }

  .header_title {
    display: none;
  }
  .header .notification {
    width: 20px;
    height: 20px;
  }
  .header .notification.active::after {
    width: 8px;
    height: 8px;
  }

  .main .home .hero {
    margin: 0 0 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .home .hero_item {
    width: calc(100% - 50px);
    max-width: 300px;
    margin: 15px 0;
  }
  .main .home .hero_item-number {
    font-size: 40px;
  }
  .main .home .loads_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    width: calc(100% - 30px);
  }
  .main .home .loads_item-group {
    margin: 0 0 0 15px;
    width: calc(100% - 65px);
  }
  .main .home .loads_item-photo {
    width: 50px;
    height: 50px;
  }
  .main .home .loads_item .dot {
    margin-top: 20px;
  }
  .main .home .loads_item-text {
    margin: 20px 0 0;
  }
  .main .customer_table table {
    min-width: 1270px;
  }
  .main .post_box-title {
    font-size: 20px;
  }
  .main .post_box-item {
    width: 100%;
  }
  .main .post_box-item::before {
    display: none;
  }
  .main .post_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .post_info .profile_desc {
    width: 100%;
  }
  .main .profile_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .main .profile_user {
    width: 100%;
    margin-bottom: 25px;
  }
  .main .profile_box-item {
    width: calc(100% - 1px);
  }
  .main .profile_box-item::after {
    display: none !important;
  }
  .main .profile .agement_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .profile .agement_item {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B3B3B3;
    border-right: none;
  }
  .main .profile .agement_item:last-child {
    border-bottom: none;
  }
  .main .profile .timeline {
    padding: 20px 15px;
    width: calc(100% - 30px);
  }
  .main .profile .timeline_title {
    font-size: 26px;
  }
  .main .profile .timeline_txt {
    font-size: 14px;
  }
  .main .profile .timeline_item {
    padding-left: 30px;
  }
  .main .profile .timeline_item-title {
    word-wrap: break-word;
  }
}